* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    margin: 1rem auto;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}

.content h1 {
    margin: 10 auto;
    
}